<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Equipment rent India">
  <meta name="keywords" content="India equipment rent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="wireframe.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
  <link rel="shortcut icon" type= "image/png" href="{{ site.baseurl }}/assets/logo/MeruLogo.png">
  {% seo %}
</head>
