<div class="py-5" style="" >
  <div class="container">
    <div class="row">
      <div class="p-4 col-lg-4 col-md-6">
        <h4 style=""><b>Rent&nbsp;</b></h4>
        <p style="" class=""><b>Save time, hassele and money by renting quality equipment with our marketplace.</b></p><a class="btn btn-info" href="https://merudynamics.sharetribe.com/">Start Renting</a>
      </div>
      <div class="p-4 col-lg-4 col-md-6" style="">
        <h4><b>Benifits to owner</b></h4>
        <p class="">Easily cut your equipment cost by making money whenever with our Marketplace.</p>
        <a class="btn btn-dark" href="https://merudynamics.sharetribe.com/en/listings/new">Post Equipment</a>
      </div>
      <div class="p-4 col-lg-4" style="">
        <h4>Trust and safety</h4>
        <p class="text-muted">Rent equipment with confidence</p>
        <a class="btn btn-outline-info" href="#">Contact Us</a>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-primary">
    <div class="container">
      <div class="row">
        <div class="p-4 col-lg-8" style="">
          <h4 class="mb-3 text-white">Equipment Rentals India</h4>
          <div class="blockquote text-muted">
            <p class="mb-0">Sharing marketplace makes it easier to rent specialized equipments and machines which may not be able to get from a traditional rental company. By listing equipments for rent on sharing marketplaces, equipment owners can connect with users who need access to a wider variety of equipment.</p>
            <div class="blockquote-footer">Our Trusted Community</div>
          </div><a class="btn btn-info" href="https://merudynamics.sharetribe.com/" >Getting Started</a>
        </div>
        <div class="col-md-4 align-self-center" style="">
          <img class="img-fluid d-block" src="https://dl.dropboxusercontent.com/s/94tvy1v8q7k6lv7/Rental%20Equipment.jpeg?dl=0"> </div>
      </div>
    </div>
  </div>
