<div class="py-5" style="" >
  <div class="container">
    <div class="row">
      <div class="p-4 col-lg-4 col-md-6">
        <h4 style=""><b>Rent&nbsp;</b></h4>
        <p style="" class="bg-light"><b>Save time, hassele and money by renting quality equipment with our marketplace.</b></p><a class="btn btn-info" href="https://merudynamics.sharetribe.com/">Start Renting</a>
      </div>
      <div class="p-4 col-lg-4 col-md-6" style="">
        <h4><b>Benifits to owner</b></h4>
        <p class="bg-light">Easily cut your equipment cost by making money whenever with our Marketplace.</p>
        <a class="btn btn-dark" href="https://merudynamics.sharetribe.com/en/listings/new">Post Equipment</a>
      </div>
      <div class="p-4 col-lg-4" style="">
        <h4>Trust and safety</h4>
        <p class="text-muted">Rent equipment with confidence</p>
        <a class="btn btn-outline-info" href="#">Contact Us</a>
      </div>
    </div>
  </div>
</div>
<div class="py-5 bg-primary">
    <div class="container">
      <div class="row">
        <div class="p-4 col-lg-8" style="">
          <h4 class="mb-3 text-white">Equipment Rentals India</h4>
          <div class="blockquote text-muted">
            <p class="mb-0">Sharing marketplace makes it easier to rent specialized equipments and machines which may not be able to get from a traditional rental company. By listing equipments for rent on sharing marketplaces, equipment owners can connect with users who need access to a wider variety of equipment.</p>
            <div class="blockquote-footer">Our Trusted Community</div>
          </div><a class="btn btn-info" href="https://merudynamics.sharetribe.com/" >Getting Started</a>
        </div>
        <div class="col-md-4 align-self-center" style="">
          <img class="img-fluid d-block" src="https://lh3.googleusercontent.com/kc1-kAR23wrzPVCY6oiNdegxcV17yGehfW7pA-0bngq6vNfP83GjdVvOo-3qTHw2n-8iS3pWgnGmP9u2WiXsKmBpevhtw8VoDLrK2G7a3wGSruvFA2iL002ji3Xen4wb1UgdA8pPDr1xclxL1pko8p4cxgaXWWFdXpL3mngIx5UVTFY9VRIR4E3KCuB5yM33wCE_eEu8A5bjuuYsA1oIm7huJElwfLX0d60XTLsmsMYtEjbOV6irk6ZZnqJNBJnSBT2YcSydcSdMnwQjKwl1-B6W8Fy49HKawe8rL7sDCEb-9HNlQCaz_6M2CZJRbeieySMg9wSBEXa_7g3o2TQeA6vstqHRq6-No1eXq_ith3Sgmcs0EQTtFylRXT7TXvdg6PXwALP1_XJz1Lt6LJNIaQRZZCrhi7kJgdLt-uxV-EshFlcqo7ZPJh50nPSpT4s5_BrF3xk69B0f3VUb6BK6XunCz6e6X5M_ZnDpy97T1yEZy6XZwSImH6LESZcEbKo8JT1PG0gcxg18kFbtZQfc3xZ--EZnS9Si3tJGEfKT8a3tBXLziIPIU7Y_oQcUo4GMBctDtx_gysXQDGClhV5COWnkHMKn1c-3CxysTqQMWfXYb8efSCF8a19ysi4fTeWz321N6njQMTyV-diHzzGoNK0=w1000-h667-no"> </div>
      </div>
    </div>
  </div>
