
<div class="container">
  <!-- <div class="row"> -->
    <div class="col-sm">
    </div>
          <div class="col-xl">
            <div class="card">
              <div class="card-body">
                <div class="card-deck">
                  <div class="card">
                    <img class="card-img-top" src="/assets/img/landing/Rent.jpeg" alt="Card image cap">
                    <div class="card-body">
                      <h3 class="card-title">Benefits to Renter</h3>
                      <p class="card-text">Rent your equipments easily and worry free and make money whenever on our platform.</p>
                    </div>
                  </div>
                  <div class="card">
                    <img  class="card-img-top" src="/assets/img/landing/Renter.jpeg" alt="Card image cap" >
                    <div class="card-body">
                      <h3 class="card-title">Benefits to Rent</h3>
                      <p class="card-text">Find quality equipments at reasonable price. Benefits to Renter</p>
                    </div>
                  </div>
                </div>
              </div>
              <a href="https://tools-and-machines.sharetribe.com/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Getting Started</a>
            </div>

          </div>
        </div> <!--Column xl -->
    <div class="col-sm">
    </div>
  <!-- </div> -->
</div>
