<!-- NAV -->
<nav class="navbar navbar-expand-md navbar-light py-4">
  <div class="container">
    <a href="{{ site.baseurl }}/" class="navbar-brand">
      <img src="/assets/logo/Test.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      <h3 class="d-inline align-middle pl-3 text-logotext">MeruDynamics</h3>
    </a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{ site.baseurl }}/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{ site.baseurl }}/blog/" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="https://rentdash.sharetribe.com/" class="nav-link">Start</a>
        </li>
        <li class="nav-item">
          <a href="https://rentdash.sharetribe.com/en/listings/new/" class="nav-link">Post Equipment</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
