.navbar{
  box-shadow: 1px 1px 3px $primary;
  opacity: 0.8;
  background: $white;

  .nav-item{
    font-size: 1.6rem;
    padding-right: 20px;
  }
}

.nav-link {
  color: $primary !important;

  &:hover {
    color: #B22222 !important;
  }
}
